# Domain
DOMAIN_NAME=bpasquer.42.fr

# MariaDB configuration
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# WordPress setup
WP_TITLE=Inception
WP_ADMIN_USER=chief_bpasquer
WP_ADMIN_EMAIL=chief_bpasquer@student.42.fr
WP_USER=student
WP_USER_EMAIL=student@student.42.fr
