# Domain
DOMAIN_NAME=login.42.fr

# MariaDB configuration
MYSQL_DATABASE=database_name
MYSQL_USER=database_user

# WordPress setup
WP_TITLE=website_name
WP_ADMIN_USER=chief_login
WP_ADMIN_EMAIL=chief_login@student.42.fr
WP_USER=user_login
WP_USER_EMAIL=user_login@student.42.fr
